extends layout

block content
    section(class='section')
        div(class='container')
          h2(class="title is-2") 💡
          h2(class="title is-2") ides

          button(class="button") Register
          button(class="button") Login
          
          footer &copy; 2024