extends layout

block content
    div(class='columns is-centered m-5')
        div(class='column is-half m-5')
            h2(class="title is-2") 💡
            h2(class="title is-2") ides

            button(class="button is-light") Register
            button(class="button is-primary is-light") Login
            
            footer(class='mt-5') &copy; 2024 ides